<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST CATS</title>
</head>
<body>
I Love Cats!
<div>
<img src= "/cats.jpg" alt="A cute cat" width="600" height="800">
</div>

<!-- This is the form for the login(temporary) I need to still implement authentication -->
<h2>Login</h2>
<form action="/login" method="POST">
    <label for="login">Username:</label>
    <input type="text" id="login" name="login" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <button type="submit">Login</button>
</form>


<div style="margin-top: 20px;">
    <a href="/register">
        <button type="button">Register</button>
    </a>
</div>

</body>
</html>